{% extends 'base/base.html' %}

{% block 'title' %} Dashboard {% endblock %}
{% block 'body' %}
{% load static %}
<section class="banner w3pvt-banner" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="banner-info">
				<div class="w3pvt-logo">
					<h3> Face Recognition</h3>
					<p class="mt-3">It will detect student's face and record it into system for attendance purpose.</p>

					
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}